<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbarMain"></nav>
    <h1>Выберите сеанс</h1>
    <div>
        <div>Сеанс: <span th:text="${ticket.getSession().getName()}"></span></div>
        <div>Ряд: <span th:text="${ticket.getPosRow()}"></span></div>
        <div>Место: <span th:text="${ticket.getCell()}"></span></div>
        <div class="controls">
            <form method="post" th:action="@{/tickets/placeOrder}" class="d-inline-block">
                    <button type="submit" class="btn btn-success">Подтвердить</button>
            </form>
            <form method="post" th:action="@{/tickets/cancelOrder}" class="d-inline-block">
                    <button type="submit" class="btn btn-danger">Отменить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>