<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead"></head>
<body>
<div class="container tickets-select-place">
    <nav th:replace="fragments/navbar :: navbarMain"></nav>
    <div
            th:if="${errorMessage != null}"
            th:text="${errorMessage}"
            class="alert alert-danger"
    ></div>
    <h1>Выберите место</h1>
    <div class="hall-view">
        <div
                th:each="row : ${#numbers.sequence(1, hall.getPlaces().size())}"
                class="hall-row"
        >
            <div class="row-header">Ряд <span th:text="${row}"></span></div>
            <div class="hall-row-places-wrapper">
                <div class="hall-row-places">
                    <div
                            th:each="place : ${#numbers.sequence(1, hall.getPlaces().get(row - 1))}"
                            class="place"
                    >
                        <form
                                th:if="${placesHelper.apply(row, place)}"
                                method="post"
                                th:action="@{/tickets/selectPlace}"
                        >
                            <input type="hidden" name="sessionId" th:value="${ticket.getSessionId()}">
                            <input type="hidden" name="posRow" th:value="${row}">
                            <input type="hidden" name="cell" th:value="${place}">
                            <button type="submit" th:text="${place}" th:title="'Ряд ' + ${row} + ', место ' + ${place}"></button>
                        </form>

                        <div
                                th:if="${!placesHelper.apply(row, place)}"
                                class="place-unavailable"
                        >
                            <button type="button" disabled th:text="${place}" title="Место занято"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>